@charset "UTF-8";

body {
	font-size: "C:/Users/koshiro/Desktop/PMBEnvCheck"15px;
	background-color: #e7e7e7;
}

p {
	margin: 0;
}

input {
	margin: 0;
}

#login {
	margin: auto;
	margin-top: 100px;
	width: 300px;
	height: 300px;
	border: solid 1px;
	background-color: #ffffff;
}

#select {
	margin: auto;
	margin-top: 20px;
	width: 900px;
	height: 600px;
	border: solid 1px;
	background-color: #ffffff;
}

#inputField {
	margin: auto;
	margin-top: 50px;
	width: 210px;
}

.textBox {
	width: 200px;
	height: 30px;
}

.inputTitle {
	margin-top: 20px;
}

.btn {
	text-align: right;
	margin-top: 20px;
	margin-left: 135px;
	height: 40px;
}

#fildMenu {
	margin-top: 60px;
	margin-left: 70px;
}

.btnMenu {
	width: 70px;
	height:70px;
}

.btnMenuRight {
	margin-left: 20px;
}

#select {
	margin: auto;
	margin-top: 20px;
	width: 900px;
	height: 600px;
	border: solid 1px;
	background-color: #ffffff;
}

table {
	/**罫線を重ねて表示*/
	border-collapse: collapse;
}

td, th{
	border: solid 1px;
}

#selectForm {
	width: 800px;
	height: 560px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

thead.scrollHead, tbody.scrollBody {
	display: block;
}

thead.scrollHead {
	background-color: #3e9f8e;
}

tbody.scrollBody {
	overflow-y: scroll;
	height:445px;
}

.productNum {
	width: 100px;
}

.productName {
	width: 350px;
}

.unitPrice {
	width: 100px;
}

.stockQuantit {
	width: 100px;
}

.totalAmount {
	width: 125px;
}

#productNumLbl {
	text-align: center;
}

#unitPriceLbl {
	text-align: right;
}

#stockQuantitLbl {
	text-align: right;
}

#totalAmountLbl {
	text-align: right;
}

.titleHeader {
	display: inline-block;
}

.btnHeader {
	display: inline;
	margin-left: 625px;
	vertical-align: 4px;
}

.btnBack {
	width: 60px;
	height: 60px;
}