<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<title>在庫管理　削除</title>
</head>
<body>
	<article id="login">
		<form method="post" action="/deleteProduct">
		<p>削除画面</p>
		<p>商品番号</p>
		<input class="textBox" type="text" name="productNum" />
		<div class="lineBtn">
			<input type="submit" id="backBtn" name="back" value="戻る" />
			<input type="submit" id="insertBtn" name="delete" value="削除" />
		</div>	
		</form>
	</article>
</body>
</html>