<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<title>在庫管理　ログイン</title>
</head>
<body>
	<article id="login">
    <form method="post" action="/">
    	<div id="inputField">
	    	<p class="inputTitle" th:text="${userMsg}">please aaa...</p>
	        <input class="textBox" type="text" name="name" th:value="${value}" />
	        <p class="inputTitle" th:text="${passwordMsg}"></p>
	        <input class="textBox" type="password" name="password" th:value="${value2}" />
	        <input id="btn" type="submit" value="ログイン" />
        </div>
    </form>
    </article>
</body>
</html>