<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<title>在庫管理　メニュー</title>
</head>
<body>
	<article id="login">
		<form method="post" action="/">
			
			<input class="btnMenu" type="submit" value="一覧" />
			<input class="btnMenu" type="submit" value="登録" />
			<br/>
			<input class="btnMenu" type="submit" value="更新" />
			<input class="btnMenu" type="submit" value="削除" />
		</form>
	</article>
</body>
</html>