<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<title>在庫管理　メニュー</title>
</head>
<body>
	<article id="login">
		<form method="post" action="sendAction">
			<div id="fildMenu">
				<div id="btnTop">
					<input class="btnMenu" type="submit" name="menu" value="一覧" />
					<input class="btnMenu btnMenuRight" type="submit" name="menu" value="登録" />
				</div>
				<br/>
				<div id="btnBottom">
					<input class="btnMenu" type="submit" name="menu" value="更新" />
					<input class="btnMenu btnMenuRight" type="submit" name="menu" value="削除" />
				</div>
			</div>
		</form>
	</article>
</body>
</html>