<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<title>在庫管理　更新</title>
</head>
<body>
	<article id="update">
		<form method="post" action="/updateProduct">
			<p>更新画面</p>
			<div th:object="${productDto}">
				<table>
					<tr>
						<th>商品番号</th>
						<td><input class="textBox" type="text" name="productNum" th:value="*{productNum}" /></td>
					</tr>
					<tr>
						<th>商品名</th>
						<td th:text="*{productName}"></td>
					</tr>
					<tr>
						<th>単価</th>
						<td><input class="textBox" type="text" name="unitPrice" th:value="*{unitPrice}" /></td>
					</tr>
					<tr>
						<th>在庫数</th>
						<td><input class="textBox" type="text" name="stockQuantit" th:value="*{stockQuantit}" /></td>
					</tr>
				</table>
			</div>
			<div class="lineBtn">
				<input type="submit" id="backBtn" name="back" value="戻る" />
				<input type="submit" id="insertBtn" name="update" value="更新" />
			</div>
		</form>
	</article>
</body>
</html>